.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    height: 10vh;
}

.encabezado_marca {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.encabezado_marca i {
    font-size: 19px;
}

.encabezado_marca h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.encabezado_nav_lista {
    display: flex;
    justify-content: flex-end;
}

.encabezado_nav_lista_item a{
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}


@media screen and (min-width: 768px) {
    .encabezado_nav_lista_item:last-child a{
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    .encabezado_nav_lista {
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }
    .encabezado_nav_lista_item:not(:last-child) a {
        font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    }
    .encabezado_nav_lista_item a:hover {
        font-weight: 700;
    } 

}

